<div class="home screen " data-id="1:5"><img class="image-3-xl4bh6" data-id="1:6"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-3-1.png"
    alt="Image 3"><img class="image-2-xl4bh6" data-id="1:7"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-2@2x.png"
    alt="Image 2"><img class="image-1-xl4bh6" data-id="1:8"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-1@2x.png"
    alt="Image 1">
  <h1 class="icon-notifications-xl4bh6 inter-normal-white-45px" data-id="1:9">HOME</h1><img class="icon-mail-xl4bh6"
    data-id="1:10"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-mail"><a href="menu"><img class="menu_fill0_wght400_grad0_opsz48-xl4bh6" data-id="1:11"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/menu-fill0-wght400-grad0-opsz48@2x.png"
      alt="menu_FILL0_wght400_GRAD0_opsz48" data-hotspot-id="hp-0"></a><img class="icon-close-xl4bh6" data-id="1:12"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/close-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-close">
  <div class="rectangle-14-xl4bh6" data-id="1:13"></div><img class="icon-home-xl4bh6" data-id="1:14"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/home-fill0-wght400-grad0-opsz48-3@2x.png"
    alt="icon-home"><a href="menu"><img class="local_library_fill0_wght400_grad0_opsz48-xl4bh6" data-id="1:15"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/local-library-fill0-wght400-grad0-opsz48-1@2x.png"
      alt="local_library_FILL0_wght400_GRAD0_opsz48" data-hotspot-id="hp-1"></a><img
    class="co_present_fill0_wght400_grad0_opsz48-xl4bh6" data-id="1:16"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/co-present-fill0-wght400-grad0-opsz48-1@2x.png"
    alt="co_present_FILL0_wght400_GRAD0_opsz48"><img class="inventory_2_fill0_wght400_grad0_opsz48-xl4bh6"
    data-id="1:17"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/inventory-2-fill0-wght400-grad0-opsz48-1@2x.png"
    alt="inventory_2_FILL0_wght400_GRAD0_opsz48">
  <div class="x-xl4bh6" data-id="1:18">ระบบสำนักงานอิเล็กทรอนิกส์สส.ทหาร</div>
</div>
